[user]
	name = ferz
	email = s5005a@gmail.com
[color]
	ui = true
[core]
	quotepath = false
	editor = vim
[push]
	default = tracking
[difftool "Kaleidoscope"]
	cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[diff]
	tool = Kaleidoscope
